{{ if eq .Section "posts" }}  
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "image": {{ .Params.thumbnail | absURL }},
  "datePublished": {{ .PublishDate }},
  "dateModified": {{ .Lastmod }},
  {{ if .Params.authors }}{{ $author := index .Params.authors 0}}"author": {
    "@type": "Person",
    "name": {{ if eq $author "jeanine"}}{{.Site.Params.authors.jeanine.name}}{{else}}{{index (.Params.authors) 0}}{{ end }}
  },{{ end }}
  "mainEntityOfPage": { "@type": "WebPage" },
    "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.header }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.logo | absURL }}
    }
  },
  "description": {{  .Params.description | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
</script>{{ end }}
<script type="application/ld+json">
{ 
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.header }},
  "legalName" : "satinflame design LLC",
  "url": "https://www.satinflame.com",
  "logo": {{ .Site.Params.logo }},
  "foundingDate": "2011",
  "founders": [
    {
    "@type": "Person",
    "name": "Stef van den Ham",
    "image": "https://mindthecode.com/profile.jpg"
    }],
  "address": {
  "@type": "PostalAddress", 
  "addressLocality": "Amsterdam",
  "addressRegion": "Noord-Holland",
  "postalCode": "1067TE",
  "addressCountry": "NL"
  },
  "sameAs": [ 
    "https://www.linkedin.com/in/{{ .Site.Params.linkedin }}/",
    "https://www.facebook.com/{{ .Site.Params.facebook }}",
    "https://www.instagram.com/{{ .Site.Params.instagram }}",
    "https://twitter.com/{{ .Site.Params.twitter }}",
    "https://github.com/{{ .Site.Params.github }}"
  ]
}
</script>