meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
if config.description
  meta(name='description', content = config.description)
if theme.rss
  link(rel='alternative', href = theme.rss, title = config.title, type='application/atom+xml')
if theme.favicon
  link(rel="icon", href = theme.favicon)

  meta(name="author", content="Stef van den Ham @stefvdham")
    
  meta(property="og:type", content="article")
  meta(property="og:image", content="https://mindthecode.com/images/og_image.png")
  meta(property="og:site_name", content="Mindthecode")
  meta(name="twitter:creator", content="@stefvdham")
  meta(name="twitter:card", content="summary")
  meta(name="twitter:image:", content="https://mindthecode.com/images/og_image.png")
  meta(name="keywords", content="html, javascript, code, hacking, tutorial, tutorials, web, css")

  link(rel="author", href="https://plus.google.com/102230925443628784177?rel=author")
  link(rel="canonical", href="https://mindthecode.com")

  script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  //- link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700', rel='stylesheet', type='text/css')
  
block head
//- != css('css/main')
style.
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY_ZraR2Tg8w2lzm7kLNL0-w.woff2) format('woff2');
      unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY14sYYdJg5dU2qzJEVSuta0.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY1BW26QxpSj-_ZKm_xT4hWw.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpYwt_Rm691LTebKfY2ZkKSmI.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY9DiNsR5a-9Oe_Ivpu8XWlY.woff2) format('woff2');
      unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 400;
      src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzwXaAXup5mZlfK6xRLrhsco.woff2) format('woff2');
      unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    /* cyrillic */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz1x-M1I1w5OMiqnVF8xBLhU.woff2) format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz1T7aJLK6nKpn36IMwTcMMc.woff2) format('woff2');
      unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzwn6Wqxo-xwxilDXPU8chVU.woff2) format('woff2');
      unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz8bIQSYZnWLaWC9QNCpTK_U.woff2) format('woff2');
      unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4gd9OEPUCN3AdYW0e8tat4.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz_79_ZuUxCigM2DespTnFaw.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    @charset "UTF-8";
    code[class*=language-], pre[class*=language-] {
      color: #f8f8f2 !important;
      text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
      font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace !important;
      direction: ltr !important;
      text-align: left !important;
      white-space: pre !important;
      word-spacing: normal !important;
      word-break: normal !important;
      word-wrap: normal !important;
      line-height: 1.5 !important;
      -moz-tab-size: 4 !important;
      -o-tab-size: 4 !important;
      tab-size: 4 !important;
      -webkit-hyphens: none !important;
      -moz-hyphens: none !important;
      -ms-hyphens: none !important;
      hyphens: none !important; }

    pre[class*=language-] {
      padding: 1em !important;
      margin: .5em 0 !important;
      overflow: auto !important;
      border-radius: .3em !important; }

    :not(pre) > code[class*=language-], pre[class*=language-] {
      background: #272822 !important; }

    :not(pre) > code[class*=language-] {
      padding: .1em !important;
      border-radius: .3em !important;
      white-space: normal !important; }

    .token.cdata, .token.comment, .token.doctype, .token.prolog {
      color: #708090 !important; }

    .token.punctuation {
      color: #f8f8f2 !important; }

    .namespace {
      opacity: .7 !important; }

    .token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
      color: #f92672 !important; }

    .token.boolean, .token.number {
      color: #ae81ff !important; }

    .token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
      color: #a6e22e !important; }

    .language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable {
      color: #f8f8f2 !important; }

    .token.atrule, .token.attr-value, .token.function {
      color: #e6db74 !important; }

    .token.keyword {
      color: #66d9ef !important; }

    .token.important, .token.regex {
      color: #fd971f !important; }

    .token.bold, .token.important {
      font-weight: 700 !important; }

    .iconic, body {
      font-weight: 400 !important; }

    .token.italic {
      font-style: italic !important; }

    .h1, .h2, .iconic, .mfp-close, h1, h2 {
      font-style: normal !important; }

    .token.entity {
      cursor: help !important; }

    .token.operator {
      background: none !important; }

    .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
      background: none !important; }

    pre[class*=language-] {
      background: #272822 !important;
      margin: 0 !important;
      border-radius: 0 !important;
      padding: 20px 30px !important; }

    article pre[class*=language-] {
      background: #32323c !important; }

    article pre[class*=language-]:before {
      /*content:attr(data-title) !important;*/
      /*position:absolute !important;*/
      /*top:0 !important;*/
      /*background:rgba(51,51,51,.4) !important;*/
      /*text-align:right !important;*/
      /*font-family:'Noto Sans',sans-serif !important;*/
      /*text-shadow:none !important;*/
      /*font-size:20px !important;*/
      /*text-transform:uppercase !important;*/
      /*font-weight:700 !important;*/
      /*padding:20px 25% !important;*/
      /*color:#636363!important !important;*/
      /*margin-top:0 !important;*/
      /*margin-bottom:0*/ }

    article .token.attr-name, article .token.builtin, article .token.char, article .token.inserted, article .token.selector, article .token.string {
      color: #B8FFB0 !important; }

    article .token.constant, article .token.deleted, article .token.property, article .token.symbol, article .token.tag {
      color: #FF99C6 !important; }

    article .token.boolean, article .token.number {
      color: #7BCCFF !important; }

    article .token.atrule, article .token.attr-value, article .token.function {
      color: #FFF595 !important; }

    article code[class*=language-] {
      font-family: Inconsolata,Menlo,Monaco,Consolas,"Courier New",monospace !important;
      font-size: 13px !important;
      line-height: 1.7 !important; }

    article pre[class*=language-] {
      position: relative !important; }

    article pre[class*=language-] .toolbar {
      position: absolute !important;
      right: 20px !important;
      top: 10px !important; }

    html {
      -webkit-font-smoothing: antialiased; }

    body {
      font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
      margin: 0; }

    main, footer, body > header {
      max-width: 64ch;
      margin: auto;
      padding: 20px 0; }

    a.logo {
      background-image: none; }

    main {
      box-sizing: border-box;
      padding: 1ch 0 2ch;
      min-height: calc(100vh - 12ch); }

    h1 {
      font-size: 1em;
      font-weight: 700; }

    h1, .timestamp {
      margin: 0; }

    a {
      color: indianred;
      background-image: linear-gradient(to bottom, indianred 75%, indianred 75%);
      text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 96%;
      text-decoration: none; }

    .heading a {
      color: black;
      background-image: linear-gradient(to bottom, black 75%, black 75%); }

    .heading {
      margin: 0 0 2ch;
      padding: 0; }

    article.txt p {
      white-space: pre-wrap; }

    hr {
      border: 1px solid #ECECEC; }

    p {
      margin: 1.5em 0; }

    h1, h2, h3, h4, h5, h6 {
      font-size: 1em; }

    pre {
      padding: 1ch;
      overflow-x: auto; }

    ul, ol {
      padding-left: 0; }

    li > ul, li > ol {
      padding-left: 2ch; }

    blockquote {
      font-style: italic;
      margin: 1.5em 2ch;
      border-left: 6px solid #AAA;
      margin-left: 0;
      padding-left: 20px; }

    img {
      max-width: 100%; }

    header nav {
      float: right;
      margin-top: -15px; }

    header nav ul {
      list-style: none; }

    header nav ul li {
      display: inline-block;
      margin-left: 10px; }

    @media (max-width: 767px) {
      body {
        padding: 1ch; }
      header nav {
        float: none; } }

    article ul {
      margin-left: 30px; }

    article code {
      background: rgba(255, 255, 0, 0.15);
      padding: 2px 3px; }

    article.index a {
      color: black;
      background-image: linear-gradient(to bottom, black 75%, black 75%); }

    article.index {
      margin: 0 0 20px 0; }

    article.post h1 a, article.post h5 a {
      color: white;
      text-shadow: none; }

    article.post h1 {
      color: white;
      margin: 0 0 0;
      letter-spacing: .05em;
      font: 38px/60px 'quatro-extra-light', sans-serif;
      margin-left: 15px; }
      @media (max-width: 767px) {
        article.post h1 {
          font: 28px/50px 'quatro-extra-light', sans-serif; } }

    article.post h1 span {
      background-color: #32323c;
      padding: 0.5rem 0;
      -webkit-box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
      box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c; }

    article.post h5 {
      color: white;
      margin: 0 0 20px;
      font: 23px/42px 'quatro-extra-light',sans-serif;
      letter-spacing: .05em;
      margin-left: 15px; }
      @media (max-width: 767px) {
        article.post h5 {
          font: 18px/37px 'quatro-extra-light',sans-serif; } }

    article.post h5 span {
      background-color: #32323c;
      padding: 0.5rem 0;
      -webkit-box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
      box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c; }

    article ul.tags {
      list-style: none;
      margin-left: 0; }

    article ul.tags li {
      display: inline-block;
      margin-right: 10px; }

    .prevnext {
      padding: 20px 0;
      height: 70px; }

    .prevnext-prev {
      float: left;
      background: none; }

    .prevnext-next {
      float: right;
      background: none; }

    header nav a {
      color: black;
      font-weight: bold;
      background: none;
      font: 14px/1.1em 'quatro-semi-bold',sans-serif; }

    header nav a::after {
      content: "·";
      padding-left: 10px; }

    header nav li:last-child a::after {
      content: ""; }

    footer {
      min-width: 100%;
      background: #32323c;
      color: white;
      text-align: center;
      font-size: 12px; }

    footer p {
      margin: 0; }

    footer img {
      height: 25px; }

    footer a {
      background: none;
      color: white;
      text-shadow: none; }

    .twitter-share-button {
      float: right;
      margin-top: -38px; }

    .floating {
      -webkit-animation-name: Floatingx;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-name: Floating;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: ease-in-out; }

    @-webkit-keyframes Floatingx {
      from {
        -webkit-transform: translate(0, 0px); }
      65% {
        -webkit-transform: translate(0, -5px); }
      to {
        -webkit-transform: translate(0, 0px); } }

    #carbonads {
      position: fixed;
      bottom: 0px;
      right: 0px;
      width: 165px;
      font-size: 10px;
      line-height: 20px;
      padding: 0px 20px 20px 0px;
      /*border-radius: 3px;*/
      /*border: 1px dashed #DDD;*/
      background: white;
      text-align: center; }
      @media (max-width: 767px) {
        #carbonads {
          display: none; } }

    #carbonads img {
      display: block;
      margin: 0 auto 10px auto; }

    #carbonads a {
      background: none;
      color: #333; }

    .teaser {
      margin: 10px 0;
      height: 250px;
      width: 100%;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
      /*border-radius: 3px 3px 0 0;*/ }

    @font-face {
      font-family: 'quatro-extra-light';
      src: url("/fonts/Quatro_ExtraLight_v3Web.eot");
      src: url("/fonts/Quatro_ExtraLight_v3Web.woff") format("woff"), url("/fonts/Quatro_ExtraLight_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-extra-light-italic';
      src: url("/fonts/Quatro_ExtraLightItalic_v3Web.eot");
      src: url("/fonts/Quatro_ExtraLightItalic_v3Web.woff") format("woff"), url("/fonts/Quatro_ExtraLightItalic_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-light';
      src: url("/fonts/Quatro_Light_v3Web.eot");
      src: url("/fonts/Quatro_Light_v3Web.woff") format("woff"), url("/fonts/Quatro_Light_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-light-italic';
      src: url("/fonts/Quatro_LightItalic_v3Web.eot");
      src: url("/fonts/Quatro_LightItalic_v3Web.woff") format("woff"), url("/fonts/Quatro_LightItalic_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-black';
      src: url("/fonts/Quatro_Black_v3Web.eot");
      src: url("/fonts/Quatro_Black_v3Web.woff") format("woff"), url("/fonts/Quatro_Black_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-bold';
      src: url("/fonts/Quatro_Bold_v3Web.eot");
      src: url("/fonts/Quatro_Bold_v3Web.woff") format("woff"), url("/fonts/Quatro_Bold_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-medium';
      src: url("/fonts/Quatro_Medium_v3Web.eot");
      src: url("/fonts/Quatro_Medium_v3Web.woff") format("woff"), url("/fonts/Quatro_Medium_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-semi-bold';
      src: url("/fonts/Quatro_SemiBold_v3Web.eot");
      src: url("/fonts/Quatro_SemiBold_v3Web.woff") format("woff"), url("/fonts/Quatro_SemiBold_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-ultra';
      src: url("/fonts/Quatro_Ultra_v3Web.eot");
      src: url("/fonts/Quatro_Ultra_v3Web.woff") format("woff"), url("/fonts/Quatro_Ultra_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'quatro-book';
      src: url("/fonts/Quatro_Book_v3Web.eot");
      src: url("/fonts/Quatro_Book_v3Web.woff") format("woff"), url("/fonts/Quatro_Book_v3Web.eot") format("otf");
      font-weight: normal;
      font-style: normal; }

<!--[if lt IE 9]><script>(function(a,b){a="abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output progress section summary template time video".split(" ");for(b=a.length-1;b>=0;b--)document.createElement(a[b])})()</script><![endif]-->
