mixin post_snippet(post)
  article.index(itemscope, itemtype="http://schema.org/BlogPosting")
    header
      h1(itemprop="headline"): a(href = config.root + post.path)
        span
          = post.title
      time.post__time(datetime = date_xml(post.date), itemprop="datePublished")
        = date(post.date, theme.date_format)

mixin post(post)
  article.post(itemscope, itemtype="http://schema.org/BlogPosting")
    header
      h1(itemprop="headline")
        span
          = post.title
      h5
        span
          = post.subtitle
      time.post__time(datetime = date_xml(post.date), itemprop="datePublished")
        = date(post.date, theme.date_format)
    hr
    != post.content

    hr
    if post.tags && post.tags.length
      ul.tags
        li Tags: 
        -post.tags.forEach(function(tag){
          li.post__tag__item: a.post__tag__link(href = config.root + tag.path)
            = tag.name
        - })
    a(class="twitter-share-button", href="https://twitter.com/intent/tweet") Tweet
    hr

    br
    br
    div(style="margin: -60px 0 0 -50px")
        ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-0534492338431642", data-ad-slot="5872023147")
        
        script.
            (adsbygoogle = window.adsbygoogle || []).push({})

    h2 Questions or comments?
    p As always, if you have any questions or comments, you can find me on <a href="http://twitter.com/stefvdham"   target="_blank">Twitter</a>.
    .prevnext
        if post.next
          a(href=url_for(post.next.path), class="prevnext-prev")
            p ← Prev
        if post.prev
          a(href=url_for(post.prev.path), class="prevnext-next")
            p Next →
