#carbonads {
  text-align: center;
  display: block;
  overflow: hidden;
  padding: 1em;
  padding-bottom: 0.3em;
  font-family: Verdana, helvetica neue, Helvetica, sans-serif;
  line-height: 1.5;
  border: 2px solid #f5f5f5;
  margin-bottom: 10px;
  float: right;
  width: 160px;
  font-size: 13px;
  margin-left: 20px;
}
#carbonads a {
  text-decoration: none;
  background-image: none;
}
#carbonads span {
  display: block;
  overflow: hidden;
}
.carbon-text {
  text-align: center;
  display: block;
  text-align: center;
  margin-bottom: 1em;
  color: #666;
}
.carbon-img {
  display: block;
  margin: 0 auto 1em;
  /* margin-left: 25px; */
}
.carbon-poweredby {
  display: block;
  text-align: right;
  font-size: 0.7em;
  color: #ccc;
}
