@import "reset";
@import "fonts";
@import "highlight";
@import "carbon";
@import "float";

@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

body {
  //   font-family: 'Fira Mono';
  font: 20px/1.75em "JetbrainsMono", "Fira Mono", "Consolas", "Andale Mono",
    "Monaco", "Courier New", Courier, monospace;
  font-weight: 300;
  background: url("/img/pattern_mtc.jpg") repeat;
}

::selection {
  background: #272936;
  color: #fff;
}
main {
  ul {
    margin: 10px 0;
    li {
      list-style: disc;
      margin-left: 20px;
    }
  }
  ol {
    margin: 10px 0;
    li {
      list-style-type: decimal;
      margin-left: 40px;
    }
  }
}
p img {
  max-width: 100%;
}
cite {
  font-style: italic;
  font-family: monospace;
}
em {
  font-style: italic;
  // font-family: monospace;
  // font-size: 15px;
}
sup {
  top: -0.5em;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
p {
  //   line-height: 25px;
  //   font-size: 14px;
  margin: 1.5em 0;
  background-color: white;
  -webkit-font-smoothing: subpixel-antialiased;
}

main {
  p {
    &:first-of-type {
      margin-top: 0.5em;
    }
    img + em {
      font-style: italic;
      font-family: monospace;
      font-size: 15px;
    }
  }
  h2 + p {
    margin-top: 0.5em;
  }
}

aside {
  font: 15px/1.5em "JetbrainsMono", "Consolas", "Andale Mono", "Monaco",
    "Courier New", Courier, monospace;
  font-weight: 300;
  padding-top: 40px;

  .item {
    margin-bottom: 0;
    margin-top: 20px;
    p {
      a {
        display: block;
        transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        &:hover {
          color: #fa7268;
        }
      }
    }
  }

  h3 {
    font-family: DINProCond;
    font-size: 700;
    font-size: 25px;
    padding: 10px 0 0px 0;
    text-transform: uppercase;
    line-height: 25px;
    position: relative;
    a {
      transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
        top 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      position: relative;
      top: 0px;
      &:hover {
        color: #fa7369;
        top: -3px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 1px;
      width: 90px; /* or 100px */
      border-bottom: 1px solid black;
    }
  }

  .about-me {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 50px;
      border-radius: 50px;
    }
    h2 {
      padding: 0;
    }
  }
  .newsletter {
    background-color: #fa7369;
    padding: 15px;
    border-radius: 3px;
    h2 {
      color: white;
      padding: 0;
      margin: 0;
      padding-bottom: 10px;
      line-height: 25px;
    }
    p {
      color: white;
      margin: 0px 0px 10px 0;
      background-color: inherit;
    }
    input {
      font-size: 14px;
      font-family: "JetbrainsMono";
      width: 100%;
      border: 0;
      border-radius: 3px;
      height: 30px;
      box-sizing: border-box;
      outline: 0;
    }
    input[type="submit"] {
      background-color: black;
      color: white;
      margin-top: 10px;
      width: auto;
      font-family: "DINProCond";
      text-transform: uppercase;
      cursor: pointer;
    }
    .right {
      display: flex;
      justify-content: flex-end;
    }
  }
}
header {
  /* background-color: red; */
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 80px; */
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
header ul li {
  float: left;
  padding-left: 20px;
  font-family: DinProCond;
  text-transform: uppercase;
  font-size: 18px;
  &.active {
    a {
      color: #fa7369;
    }
  }
}
header ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
    top 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
  top: 0px;
}
header ul li a:hover {
  color: #fa7369;
  top: -2px;
}
h1 {
  font-family: DINProCond;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1em;
  position: relative;
  margin: 0px 0 20px 0;
  padding: 0 0 10px 0;
  a {
    transition: color 0.2s cubic-bezier(0.19, 1, 0.22, 1),
      top 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    top: 0px;
    &:hover {
      color: #fa7369;
      top: -3px;
    }
  }
}
h2 {
  font-family: DINProCond;
  font-size: 30px;
  padding: 20px 0 0px 0;
  text-transform: uppercase;
}
h3 {
  font-family: DINProCond;
  font-size: 20px;
  padding: 0px 0 0px 0;
  text-transform: uppercase;
  + p {
    margin-top: 0.5em;
  }
}

h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  width: 90px; /* or 100px */
  border-bottom: 1px solid black;
}

a {
  color: inherit;
  text-decoration: none;
}
main p a {
  color: #fa7268;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: top 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    border-bottom: 1px dashed #000;
    top: -2px;
  }
}

.container {
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  grid-gap: 50px;
  grid-template-areas: "main aside";
  grid-template-columns: 800px 250px;
  padding: 0 20px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  /* background: yellow; */
  margin-right: 0;
}

// custom
.item {
  margin-bottom: 40px;
  .category span {
    background-color: #fa7369;
    padding: 5px;
    color: white;
    font-family: DinProCond;
    font-size: 13px;
    text-transform: uppercase;
  }
  .post-date span {
    font-size: 16px;
    font-family: DinProCond;
  }
}

blockquote {
  //   font-style: italic;
  font-size: 18px;
  margin: 1.5em 0ch;
  border-left: 10px solid #fa7268;
  padding: 1ch 2ch;
  background-color: #f8f9fb;
  font-family: monospace;
  p {
    background-color: inherit;
  }
}

// media

@media screen and (max-width: 1060px) {
  .container {
    grid-template-areas: "main" "aside";
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 20px 20px;
  }
  header ul li {
    padding-left: 10px;
  }
  header ul li:first-child {
    display: none;
  }
  header .logo {
    margin-bottom: 10px;
  }
  header .logo img {
    width: 150px;
  }
}

.archive li a {
  position: relative;
  left: 0px;
  transition: left 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover {
    color: #fa7268;
    left: 2px;
  }
}

// Post navigation
.post-navigation {
  background: #f2f2f2;
  min-height: 2px;

  transition: background 0.2s ease-in, color 0.1s ease-in;
}

.post-navigation a {
  display: block;
  width: 48.5%;
  height: 120px;
  margin-top: 3%;
  margin-bottom: 3%;
  background: #e2e2e2;
  overflow: hidden;
  position: relative;
}

.post-navigation .post-nav-prev {
  float: left;
}
.post-navigation .post-nav-next {
  float: right;
}

.post-navigation p {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 2px;
  color: #666;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 0;
  left: 0;
}

.post-navigation a:hover {
  background: #272936;
}
.post-navigation a:hover p {
  color: #fff;
}

footer {
  background-color: #edf0f1;
  padding: 20px 0;
  .contents {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 30px 0;
    p {
      background-color: inherit;
    }
    .info {
      //   width: 300px;
      padding-right: 100px;
      font-size: 13px;
      width: 300px;
    }
    .links {
      flex: 1;
      font-size: 15px;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, 40px);
      column-gap: 5rem;
      a {
        position: relative;
        top: 0px;
        transition: top 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        &:hover {
          color: #fa7268;
          top: -2px;
        }
      }
    }
  }
}
