extends layout
block head
  title About Me
block content
  h1 About Me
  p I'm Stef van den Ham. I write Sass/LESS/CSS, HTML5, Javascript, PHP, Bash with <strike>Sublime Text 2</strike> Atom for fun and profit. I work as CTO at <a href="http://noprotocol.nl">NoProtocol</a> in Amsterdam.
  h3 You can find me at ..
  ul
    li
      a(href="http://twitter.com/stefvdham") Twitter
    li
      a(href="http://nl.linkedin.com/pub/stef-van-den-ham/14/652/212") LinkedIn
    li
      a(href="https://www.facebook.com/stefvdham") Facebook
    li
      a(href="https://plus.google.com/u/0/102230925443628784177/posts", rel="me") Google+
