doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype",content="on")
    <script src="/scripts/highlight.min.js"></script>
    link(rel="icon", type="image/png", href="/favicon.ico")
    link(href="/stylesheets/main.css", rel="stylesheet")
    link(href="https://cdn.rawgit.com/isagalaev/highlight.js/master/src/styles/hybrid.css", rel="stylesheet")
    link(href="http://mindthecode.com/feed.xml",type="application/atom+xml",rel="alternate",title="Mindthecode Feed")
    link(rel="author",href="https://plus.google.com/102230925443628784177?rel=author")
    meta(property="fb:admins",content="1322812414")
    meta(property="og:type",content="article")
    meta(property="og:image",content="http://mindthecode.com/images/og_image.png")
    meta(property="og:site_name",content="Mindthecode")
    meta(property="fb:app_id",content="116332715192025")
    meta(name="twitter:creator",content="@stefvdham")
    meta(name="twitter:card",content="summary")
    meta(name="twitter:image:" content="http://mindthecode.com/images/og_image.png")
    block head
      title= "Mindthecode"
      link(rel="canonical",href="http://mindthecode.com/")
      meta(name="description", content="Rambling about all things web.")
      meta(property="og:title",content="Mindthecode")
      meta(property="og:description",content="Rambling about all things web.")
      meta(property="og:url",content="http://mindthecode.com/")
      meta(name="twitter:title",content="Mindthecode")
      meta(name="twitter:description",content="Rambling about all things web.")
  body
    header.header(role="header")
      div.container
        .bg
        .contents
          .logo
            a(href='/')
              img(src="/images/logo_trans.png")
          p.tagline Blogging about all things web, solving the web one pixel at the time.
      .badge
        a(href="/")
          img(src="/images/badge.png")
    .top
      .container
        .badge
          a(href='/')
            img(src="/images/badge.png")
        .logo
          a(href='/')
            img(src="/images/logo.png")
        .navlinks
          ul
            li
              a(href='/') Archive
            li
              a(href='/about.html') About
            li.twitter
              a(href="https://twitter.com/stefvdham", class="twitter-follow-button", data-show-count="true", data-show-screen-name="true") Follow @stefvdham
    .container
      .content
        block content      
    #yoggrt
      script(src="http://cdn.yoggrt.com/yoggrt.js?legacyid=1296349&zoneid=1353&key=1f38bbf962ef9784f7733343a37f39b0&serve=C6SD52Y&placement=mindthecode",id="_yoggrt_js")
    footer
      a(href="/")
        img(src="/images/logo_small.png")
      p &copy; 2010 - 2014
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", type="text/javascript")
    script(src="/scripts/main.js", type="text/javascript")
    script.
      if(window.devicePixelRatio) { $("#logo").attr('src', '/images/logo@2x.png'); }
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-20048990-9']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    script(src="/scripts/jquery.readingTime.js")
    script.
      $(document).ready(function(){
        var userAgent = window.navigator.userAgent;
        if (!userAgent.match(/iPad/i) && ! userAgent.match(/iPhone/i)) {
          $('.bg').css('background-attachment', 'fixed');
        }
        $('.post-body').readingTime();
      });
    if post
      if post.header
        script.
          $(document).ready(function(){
            $('.bg').css('background-image', 'url(/images/headers/#{post.header})');
          });
