doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  each post in posts
    - var fullUrl = 'http://mindthecode.com' + post.url
      url
        loc= fullUrl
        lastmod= post.date.toISOString()
        priority= 1.0
        changefreq= "weekly"
         //- <lastmod>2014-10-21T13:53:32.000Z</lastmod>