---
layout: post
skip_title: true
nav: rebuilds
title: Rebuilds
---

In the Rebuild posts I try to rebuild existing tools by either reverse-engineering them or start from scratch and see where it ends up. Main goal is of course to learn how certain things work, but sometimes it leads to new insights and maybe even a better tool!

<p></p>

{% for page in site.pages %}
  {% if page.rebuild == true %}
    {% if page.hidden != true %}
      <article>
        <header class="heading">
      {% if page.link %}
        <h1 class="page-title"><a href="{{ page.link }}">
      {% else %}
        <h1 class="page-title"><a href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
      {{ page.title }}</a></h1>
          <p class="timestamp">{{ page.summary }}</p>
        </header>
      </article>
    {% endif %}
  {% endif %}
{% endfor %}

