<aside class="sidebar">
  <nav>

   <ul>
     <li>
     <a href="/">Writing</a>
     </li>
     <li>
       <a href="/about">About me</a>
    </li>
     <li>
       <a href="/tags">Tags</a>
    </li>
     <li>
       <a href="https://twitter.com/stefvdham">Twitter</a>
    </li>
    <li>
      <a href="http://mindthecode.com/rss.xml">RSS Feed </a>
    </li>
    </ul>
      

   <hr class="sidebar">

<!--     <h2>Recent posts</h2>
    <ul class='postlist'>
    <li>
      <a href='/getting-started-with-the-panresponder-in-react-native/'>Getting started with the PanResponder in React Native</a>
    </li>
    <li>
      <a href='/react-storybook/'>React Storybook</a>
    </li>
    <li>
      <a href='/get-your-react-native-app-running-on-a-device/'>Getting your React Native App on an iOS device</a>
    </li>
    <li>
      <a href='/writing-browserify-modules-for-your-angular-app/'>Writing Browserify modules for your Angular app</a>
    </li>
    <li>
      <a href='/recording-a-website-with-phantomjs-and-ffmpeg/'>Recording a website with PhantomJS and FFMpeg</a>
    </li>
    </ul>

   <hr class="sidebar"> -->

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mindthecode" id="_carbonads_js"></script>

    <hr class="sidebar">

    <h2>Tags</h2>
    <ul>
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li><a href='/tags/#{{t | downcase | replace:" ","-" }}'>{{t | downcase | replace:" ","-" }} <span>({{ posts | size }})</span></a></li>
    {% endfor %}
    </ul>

    <hr class="sidebar">

    <h2>Advertisment</h2>

    <!-- Aside -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-0534492338431642"
         data-ad-slot="9590850300"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

 </nav>
</aside>