<aside class="sidebar">
  <nav>
      <!-- <center> -->
   <ul>
     <li>
     <a href="/">Blog</a>
     </li>
     <li>
       <a href="/about">About me</a>
    </li>
     <li>
       <a href="/tags">Tags</a>
    </li>
    <li>
      <br />
        <a class="twitter-follow-button"
          href="https://twitter.com/stefvdham"
          data-size="small"
          data-show-count="false">
        Follow me</a>
    </li>
    </ul>
      <!-- </center> -->

   <hr class="sidebar">

    <h2>Recent posts</h2>
    <ul class='postlist'>
    <li>
      <a href='/getting-started-with-the-panresponder-in-react-native/'>Getting started with the PanResponder in React Native</a>
    </li>
    <li>
      <a href='/react-storybook/'>React Storybook</a>
    </li>
    <li>
      <a href='/get-your-react-native-app-running-on-a-device/'>Getting your React Native App on an iOS device</a>
    </li>
    <li>
      <a href='/writing-browserify-modules-for-your-angular-app/'>Writing Browserify modules for your Angular app</a>
    </li>
    <li>
      <a href='/recording-a-website-with-phantomjs-and-ffmpeg/'>Recording a website with PhantomJS and FFMpeg</a>
    </li>
    </ul>

   <hr class="sidebar">

    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mindthecode" id="_carbonads_js"></script>

   <hr class="sidebar">

   <h2>Tags</h2>
   <ul>
    {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li><a href='/tags/#{{t | downcase | replace:" ","-" }}'>{{t | downcase | replace:" ","-" }} <span>({{ posts | size }})</span></a></li>
{% endfor %}
  </ul>

 </nav>
</aside>