<footer class="site-footer" role="contentinfo">
  <div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Archives</a>
      </li>
      <li>
        <a href="https://github.com/hyra" target="_blank">Github</a>
      </li>
      <li><a href="http://twitter.com/hyra" target="_blank">Twitter</a></li>
      <li>
        <a href="{{ site.url }}/feed.xml" target="_blank" rel="noreferrer"
          >RSS</a
        >
      </li>
    </ul>
    <p class="copyright">
      © 2010-2019 Stef van den Ham (Hyra)
    </p>
  </div>
</footer>
