<header class="site-header">
  <a href="/" target="_self" class="logo" aria-label="Back to Mindthecode.com homepage"></a>
    ><img src="/mtc_logo@2x.png" alt="" class="floating"
  /></a>
  <nav class="nav-primary" role="navigation">
    <ul>
      <li class="{% if page.url == '/' %} active {% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="{% if page.url contains '/blog' %} active {% endif %}">
        <a href="/blog">Blog</a>
      </li>
      <!-- <li class="{% if page.url contains '/rebuilds/' %} active {% endif %}">
        <a href="/rebuilds">Rebuilds</a>
      </li> -->
      <!-- <li class="{% if page.url contains '/projects/' %} active {% endif %}">
        <a href="/projects">Projects</a>
      </li> -->
      <li class="{% if page.url == '/about' %} active {% endif %}">
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>
