<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ prepend: site.baseurl | prepend: site.url }}",
        "headline": "{{ site.title }}",
        "about": "{{ site.description }}",
        "image": [
            "https://mindthecode.com/fb_share.jpg"
        ],
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product"],
            "name": "Mindthecode",
            "productID": "mindthecode.com"
        },
        "discussionUrl": "https://twitter.com/search?q=to%3AHyra&src=typed_query",
        "author": {
            "@type": "Person",
            "name": "Stef van den Ham",
            "description": "CTO at NoProtocol.nl and writing code and content for Mindthecode.com",
            "sameAs": "https://mindthecode.com/about",
            "image": {
                "@type": "ImageObject",
                "url": "https://mindthecode.com/avatar.jpg"
            },
            "givenName": "Stef",
            "familyName": "van den Ham",
            "alternateName": "Hyra",
            "publishingPrinciples": "https://mindthecode.com/about"
        },
        "editor": {
            "@type": "Person",
            "name": "Stef van den Ham",
            "description": "CTO at NoProtocol.nl and writing code and content for Mindthecode.com",
            "sameAs": "https://mindthecode.com/about",
            "image": {
                "@type": "ImageObject",
                "url": "https://mindthecode.com/avatar.jpg"
            },
            "givenName": "Stef",
            "familyName": "van den Ham",
            "alternateName": "Hyra",
            "publishingPrinciples": "https://mindthecode.com/about"
        },
        "inLanguage": "en-US",
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        "additionalType": "CreativeWork",
        "alternateName": "Mindthecode",
        "publisher": {
            "@type": "Organization",
            "name": "Mindthecode",
            "description": "Walking web developers through projects, code and giving tips, tricks and insights on webdevelopment as a whole",
            "sameAs": "https://mindthecode.com",
            "logo": {
                "@type": "ImageObject",
                "url": "https://mindthecode.com/fb_share.jpg"
            },
            "publishingPrinciples": "https://mindthecode.com/about/"
        }
    }
</script>