<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Stef van den Ham",
        "description": "{{ page.excerpt }}",
        "disambiguatingDescription": "A full-stack webdeveloper and strategist",
        "image": [
            {% if page.ogimagenull %}

            {% elsif page.ogimage %}
                "{{page.ogimage}}"
            {% elsif page.image %}
                "{{page.image}}"
            {% else %}
                "https://mindthecode.com/avatar.jpg"
            {% endif %}
        ],
        "givenName": "Stef",
        "familyName": "van den Ham",
        "alternateName": "Hyra",
        "publishingPrinciples": "https://mindthecode.com/about/"
    }
</script>