<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "description": "{{ page.description }}",
        "image": [
            {% if page.ogimageoff %}

            {% elsif page.ogimage %}
                "{{page.ogimage}}"
            {% elsif page.image %}
                "{{page.image}}"
            {% else %}
                "https://mindthecode.com/fb_share.jpg"
            {% endif %}
        ],
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.url | prepend: site.url }}"
        },
        "datePublished": "{{page.date}}",
        "dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}",
        "isAccessibleForFree": "True",
        "isPartOf": {
            "@type": ["CreativeWork", "Product", "Blog"],
            "name": "Mindthecode",
            "productID": "mindthecode.com"
        },
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        "author": {
            "@type": "Person",
            "name": "Stef van den Ham",
            "description": "CTO at NoProtocol.nl and writing code and content for Mindthecode.com",
            "sameAs": "https://mindthecode.com/about",
            "image": {
                "@type": "ImageObject",
                "url": "https://mindthecode.com/avatar.jpg"
            },
            "givenName": "Stef",
            "familyName": "van den Ham",
            "alternateName": "Hyra",
            "publishingPrinciples": "https://mindthecode.com/about"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Mindthecode",
            "description": "Walking web developers through projects, code and giving tips, tricks and insights on webdevelopment as a whole",
            "sameAs": "https://mindthecode.com",
            "logo": {
                "@type": "ImageObject",
                "url": "https://mindthecode.com/fb_share.jpg"
            },
            "publishingPrinciples": "https://mindthecode.com/about"
        }
    }
</script>