/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');*/

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY_ZraR2Tg8w2lzm7kLNL0-w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY14sYYdJg5dU2qzJEVSuta0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY1BW26QxpSj-_ZKm_xT4hWw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpYwt_Rm691LTebKfY2ZkKSmI.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY9DiNsR5a-9Oe_Ivpu8XWlY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59FzwXaAXup5mZlfK6xRLrhsco.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz1x-M1I1w5OMiqnVF8xBLhU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz1T7aJLK6nKpn36IMwTcMMc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fzwn6Wqxo-xwxilDXPU8chVU.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz8bIQSYZnWLaWC9QNCpTK_U.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz4gd9OEPUCN3AdYW0e8tat4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url(https://fonts.gstatic.com/s/robotomono/v4/N4duVc9C58uwPiY8_59Fz_79_ZuUxCigM2DespTnFaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
  padding: 1ch;
  margin: 0;
}
body .username:after {
  content: ' ✐';
}
body.index .username:after {
  content: ' ⌂';
}
main, footer, body > header {
  max-width: 64ch;
  margin: auto;
}
.index main article {
  display: flex;
}
article p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  position: relative;
}
nav {
  position: absolute;
  right: 0;
  top: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  padding-left: 10px;
}
main {
  box-sizing: border-box;
  padding: 1ch 0 2ch;
  min-height: calc(100vh - 12ch);
}
h1 {
  font-size: 1em;
  font-weight: 700;
}
h1, .timestamp {
  margin: 0;
}
a {
  color: indianred;
  background-image: linear-gradient(to bottom,indianred 75%,indianred 75%);
  text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 96%;
  text-decoration: none;
  transition: all 0.4s ease;
}
/*a:hover {
  color: black;
  background: indianred;
  text-shadow: none;
  color: white;
}*/
a.noundy {
  background-image: none;
}
#logo {
  height: 30px;
}
.heading a {
  color: black;
  background-image: linear-gradient(to bottom,black 75%,black 75%);
}
.heading {
  margin: 0 0 2ch;
  padding: 0;
}
article.txt p {
  white-space: pre-wrap;
}
article ul {
  padding-left: 20px;
}
article ol {
  padding-left: 30px;
}
.username a {
  text-shadow: none;
  background-image: none;
  background-color: #333;
  color: #EEE;
  padding: 1ch;
  border: 0;
}
hr {
  border: 1px solid #ECECEC;
}
p {
  margin: 1.5em 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}
pre {
  margin: 0;
  padding: 1ch;
  overflow-x: auto;
}
ul, ol {
  padding-left: 0;
}
li > ul, li > ol {
  padding-left: 2ch;
}
blockquote {
  font-style: italic;
  margin: 1.5em 2ch;
  border-left: 5px solid #CCC;
  padding-left: 20px;
  margin-left: 0px;
}
img {
  max-width:100%;
}
footer a {
  color: lightgrey;
  background-image: linear-gradient(to bottom,lightgrey 75%,lightgrey 75%);
}
@media screen and (min-width:867px) {
  body {
    /*font: 20px/1.75em 'Roboto Mono';*/
    /*padding: 0 20px;*/
  }
  nav li a {
    /*font-size: 30px;*/
  }
  hr {
    /*border: 4px solid #ECECEC;*/
  }
  #logo {
    /*height: 60px;*/
  }
}

footer {
  text-align: center;
  font-size: 11px;
}

footer #logo-footer {
  width: 129px;
}

video {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container.skinny {
  padding-bottom: 43.076923%;
}

.video-container.slate {
  padding-bottom: 50%;
  margin-bottom: 1em;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px 10px;
  margin: 0;
  font-size: 14px;
  /*background: #343642;*/
  /*color: #C1C2C3;*/
}

.highlighter-rouge {
  background: rgba(255, 255, 0, 0.15);
}

.highlight {
  background-color: #343d46;
  color: white;
}
.highlight .hll {
  background-color: #343d46;
}
.highlight .c {
  color: #65737e;
}
.highlight .err {
  color: #ffffff;
  background-color: #ca858d;
}
.highlight .k {
  color: #b48ead;
}
.highlight .l {
  color: #d08770;
}
.highlight .n {
  color: #8FA1B3;
}
.highlight .o {
  color: #c0c5ce;
}
.highlight .p {
  color: #8FA1B3;
}
.highlight .cm {
  color: #65737e;
}
.highlight .cp {
  color: #65737e;
}
.highlight .c1 {
  color: #65737e;
}
.highlight .cs {
  color: #65737e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #b48ead;
}
.highlight .kd {
  color: #b48ead;
}
.highlight .kn {
  color: #c0c5ce;
}
.highlight .kp {
  color: #b48ead;
}
.highlight .kr {
  color: #b48ead;
}
.highlight .kt {
  color: #b48ead;
}
.highlight .ld {
  color: #a3be8c;
}
.highlight .m {
  color: #d08770;
}
.highlight .s {
  color: #a3be8c;
}
.highlight .na {
  color: #d08770;
}
.highlight .nb {
  color: #8FA1B3;
}
.highlight .nc {
  color: #ebcb8b;
}
.highlight .no {
  color: #b48ead;
}
.highlight .nd {
  color: #ebcb8b;
}
.highlight .ni {
  color: #8FA1B3;
}
.highlight .ne {
  color: #ebcb8b;
}
.highlight .nf {
  color: #ebcb8b;
}
.highlight .nl {
  color: #8FA1B3;
}
.highlight .nn {
  color: #8FA1B3;
}
.highlight .nx {
  color: #C0C5CE;
}
.highlight .py {
  color: #8FA1B3;
}
.highlight .nt {
  color: #bf616a;
}
.highlight .nv {
  color: #8FA1B3;
}
.highlight .ow {
  color: #c0c5ce;
}
.highlight .w {
  color: #8FA1B3;
}
.highlight .mf {
  color: #d08770;
}
.highlight .mh {
  color: #d08770;
}
.highlight .mi {
  color: #d08770;
}
.highlight .mo {
  color: #d08770;
}
.highlight .sb {
  color: #a3be8c;
}
.highlight .sc {
  color: #a3be8c;
}
.highlight .sd {
  color: #a3be8c;
}
.highlight .s2 {
  color: #a3be8c;
}
.highlight .se {
  color: #d08770;
}
.highlight .sh {
  color: #a3be8c;
}
.highlight .si {
  color: #a3be8c;
}
.highlight .sx {
  color: #a3be8c;
}
.highlight .sr {
  color: #a3be8c;
}
.highlight .s1 {
  color: #a3be8c;
}
.highlight .ss {
  color: #a3be8c;
}
.highlight .bp {
  color: #8FA1B3;
}
.highlight .vc {
  color: #8FA1B3;
}
.highlight .vg {
  color: #8FA1B3;
}
.highlight .vi {
  color: #8FA1B3;
}
.highlight .il {
  color: #d08770;
}

.prevnext {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.prevnext a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  background: none;
}

.prevnext .next {
  text-align: right;
}

.about-avatar {
  float: left;
  width: 3.2em;
  margin: 0 1em 1em 0;
}

@media screen and (max-width:480px) {
  .about-avatar {
    width: 4.1em;
  }
}

/*#carbonads img{display:block;float:right;margin-left:1em}#carbonads .carbon-wrap{display:block;float:left;line-height:1.7em}#carbonads .carbon-poweredby{font-size:.8em;display:block;clear:both;text-align:left}*/

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, -5px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
