	</div>
		
		<footer><a href="/"><img src="/images/mtc_inv_white.png" alt="Mindthecode" class="floating"></a><br><p>Made with ❤ and 🍺</p><p>Follow me on <a target="_blank" href="https://twitter.com/hyra">Twitter</a>, <a target="_blank" href="https://www.facebook.com/mindthecode/">Facebook</a> or <a target="_blank" href="https://github.com/Hyra">Github</a></p><p>© Copyright 2011-2018</p></footer>
	</div><!-- .mh-container-outer -->

<script>
	var navigation = responsiveNav(".menu", {
		navClass: "menu--collapse",
	});
</script>
</body>
</html>