// Choose one of these to be your mainTheme color
$green: hsl(151, 65%, 60%);
$blue: hsl(216, 65%, 60%);
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);

$offBlack: hsl(10, 1%, 22%);
$grey: lighten($offBlack, 50);

$codeFont: Monaco, Consolas, monospace;
$postFont: 'Merriweather', Georgia, serif;
$headerFont: 'Source Sans Pro', Georgia, serif;

$mainTheme:#eb4c42;
$baseTextColor: $offBlack;
$lightTextColor: $grey;

@mixin breakpoint($point) {
  @if $point == big-phone {
    @media (max-width: 1020px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 720px)  { @content; }
  }
}

// Clearfix
.group {
  @include clearfix;
}

body {
  margin: 0;
  color: $baseTextColor;
  // background: #fbfbfb url(/images/txtr_white.jpg) fixed;
  background: white;
  // -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $postFont;
  font-size: 19px;

  // font-family: Ubuntu;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  @include breakpoint(big-phone) {
    // font-size: 20px;
  }

  @include breakpoint(small-phone) {
    // font-size: 17px;
  }
}

.intro {
  font-size: 28px;
}

.fb_iframe_widget {
  display: inline !important;
}

.header:first-child {
  height: 320px;
  // background-color: #eb6355;
  // border-bottom: 3px solid #ececec;
  margin-bottom: 45px;
  @include breakpoint(small-phone) {
    height: 200px;
  }
  .bg {
    background-image: url(/images/headers/default.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: normal;
    overflow: auto;
    height: 320px;
    width: 100%;
    left: 0;
    position: absolute;
    -webkit-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -ms-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    -o-box-shadow: inset 0 -10px 100px -5px rgba(0,0,0,0.5);
    @include breakpoint(small-phone) {
      height: 200px;
    }
  }
  .logo {
    padding: 0;
    // margin-top: 25px;
    text-align: center;
    top: 100px;
    position: relative;
    // float: left;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    @include breakpoint(small-phone) {
      top: 60px;
      img {
        width: 250px;
      }
    }
  }
  p.tagline {
    color: #FFF;
    position: relative;
    top: 100px;
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
    // text-shadow: 0px 0px 3px #333;
    @include breakpoint(small-phone) {
      // display: none;
      top: 50px;
    }
  }
  .nav {
    top: 30px;
    right: 0px;
    position: absolute;
    font-weight: 600;
    font-size: 13px;
    @include breakpoint(small-phone) {
      position: relative;
      text-align: center;
      top: 50px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        padding: 6px 12px;
        color: #FFF;
        text-decoration: none;
        background-color: rgba(255,255,255,0.1);
        margin: 0 10px;
        border-radius: 6px;
        border: 1px solid #FFF;
        &:hover {
          color: #333;
          background-color: rgba(255,255,255,0.9);
          -webkit-transition: color 0.3s ease-in-out;
          -moz-transition: color 0.3s ease-in-out;
          -ms-transition: color 0.3s ease-in-out;
          -o-transition: color 0.3s ease-in-out;
        }
      }
    }
  }
  .badge {
    position: absolute;
    top: 285px;
    left: 50%;
    margin-left: -32px;
    z-index: 100;
    @include breakpoint(small-phone) { 
      display: none;
    }
  }
}

.header {
  z-index: 100;
  box-shadow: 0px 50px 20px #FFF;
}
.header.fixed {
  position: fixed;
  width: 100%;
  top: -270px;
  box-shadow: 0px 70px 60px #FFF;
  .bg {
    // background: white;
    box-shadow: none;
  }
  @include breakpoint(small-phone) {  
    position: relative;
    width: auto;
    top: 0;
    box-shadow: none;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  @include breakpoint(big-phone) {
  }
  @include breakpoint(small-phone) {
    width: auto;
    padding: 0 20px;
  }
}

.contents {
  -webkit-transition: .2s height ease-in-out, .2s top ease-in-out, .2s opacity ease-in-out, .2s background ease-in-out;
  width: 100%;
  max-width: 100%;
  background: rgba(255, 0, 0, 0.4);
  background: transparent;
  height: 100px;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.top {
  -webkit-transition: .2s background ease-in-out, .2s height ease-in-out;
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 100;
  .container {
    position: relative;
  }
  .badge {
    -webkit-transition: .2s top ease-in-out;
    position: absolute;
    top: -110px;
    left: 7px;
    img {
      width: 35px;
    }
  }
  .logo {
    -webkit-transition: .3s top ease-in-out;
    position: absolute;
    left: 50px;
    top: -113px;
  }
  .navlinks {
    position: absolute;
    top: 20px;
    right: 0px;
    @include breakpoint(small-phone) {
      right: 10px;
      font-size: 13px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        margin-left: 20px;
        a {
          -webkit-transition: .2s color ease-in-out;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  &.active {
    -webkit-transition: .2s background ease-in-out, .2s height ease-in-out;
    background: white;
    height: 60px;
    box-shadow: 0 2px 0 0 rgba(53, 58, 61, 0.05);
    @include breakpoint(small-phone) { 
      height: 70px;
    }
    .badge {
      -webkit-transition: .2s top ease-in-out;
      top: 10px;
      @include breakpoint(small-phone) {
        img {
          width: 25px;
        }
      }
    }
    .logo {
      -webkit-transition: .3s top ease-in-out;
      top: 13px;
      @include breakpoint(small-phone) {
        left: 40px;
        top: 12px;
        img {
          width: 100px;
        }
      }
    }
    .navlinks {
      a {
        -webkit-transition: .2s color ease-in-out;
        color: black;
      }
      @include breakpoint(small-phone) {
        font-size: 13px;
        left: 20px;
        top: 40px;
        .twitter {
          @include breakpoint(small-phone) {
            position: absolute;
            top: -25px;
            right: 10px;
          }
        }
      }
    }
  }
}

.content {
  &.topped {
    margin-top: 365px;
    @include breakpoint(small-phone) {  
      margin-top: 0;
    }
  }
  position: relative;
  margin: 30px auto 0;
  margin: 0 auto;
  padding: 0 0 80px 0;
  p {
    line-height: 1.667em;
  }
  a {
    // transition: all 0.666s ease-in-out;
    font-weight: bold;
    color: #eb6355;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    &:hover {
      color: #333333;
    }
  }

  .list {
    p {
      margin: 5px 0 10px 0;
    }
  }

  .pagination a, h2 a, h3 a, h4 a, .share-icons a {
    border-bottom: none;
  }

  @include breakpoint(big-phone) {
    margin: 65px auto 25px;
    // width: 86%;
  }

  @include breakpoint(small-phone) {
    margin: 0 auto 15px;
    width: 100%;
    line-height: 21px;
  }
}

a {
  h1 {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    &:hover {
      color: #eb6355;
    }
  }
}

.follow_block {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 110;
  margin-left: -500px;
  width: 140px;
  @include breakpoint(big-phone) {
    display: none;
  }
}

#yoggrt {
  width: 155px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  @include breakpoint(small-phone) {
    display: none;
  }
}
body .one .bsa_it_ad { background: rgba(255,255,255,0.6); border: none; font-family: inherit; padding: 10px; margin: 0; text-align: center; }
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: right; }

footer {
  text-align: center;
  padding: 15px 0;
  font-size: 11px;
}

.pagination {
  width: 100%;
  text-align: center;
  a {
    color: #2c313b;
    padding: .7em 0;
    text-decoration: none;
  }
}

.older {
  float: left;
}

.newer {
  float: right;
}
