@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
        transform: translatey(-5px);
    }

    50% {
        transform: translatey(5px);
    }

    100% {
        transform: translatey(-5px);
    }
}

@font-face {
    font-family: "GothamNarrowBlack";
    src: url("/GothamNarrow-Black.eot");
    src: url("/GothamNarrow-Black.eot?#iefix") format("embedded-opentype"),
        url("/GothamNarrow-Black.woff") format("woff"), url("/GothamNarrow-Black.ttf") format("truetype"), url("/GothamNarrow-Black.svg#GothamNarrow-Black") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}

/* purgecss start ignore */
body {
    font-weight: 300;
    @apply min-h-screen;

    ::selection {
        background: #272936;
        color: #fff;
    }

    h1::before {
        width: calc(25% - 24px);
        display: block;
        margin-bottom: 8px;
        background-color: #fa7369;
        height: 4px;
        content: "";
    }

    aside h3::before {
        width: calc(25% - 24px);
        display: block;
        margin-bottom: 4px;
        background-color: #fa7369;
        height: 2px;
        content: "";
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #141430;
        @apply font-sans;
    }

    .prose .list-header a {
        @apply border-b-0;
    }

    .prose {
        a {
            text-decoration: none;
            @apply font-semibold;
            @apply border-red-400;
            /* @apply border-dashed; */
            @apply border-b-2;

            &:hover {
                @apply text-blue-300;
                @apply border-b-0;
            }
        }

        strong {
            @apply text-white;
        }

        blockquote {
            background-color: rgba(0, 0, 0, 0.2);
            @apply border-l-4;
            @apply border-blue-300;
            padding: 1px 10px 1px 20px;
            @apply text-lg;
            @apply text-gray-300;
        }

        #socials a {
            @apply border-0;
        }

        img {
            @apply m-auto;
        }

        code:not(pre code) {
            @apply text-sm;
            @apply font-light;
            @apply rounded;
            background: #29323d;
            /* color: #bcc6d2; */
            @apply text-blue-300;
            padding: 5px 5px;

            &::before,
            &::after {
                content: "";
            }
        }
    }
}

.prose pre code {
    @apply text-sm;
}

pre {
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgba(1, 44, 66, 1);

    color: #fff;
    overflow-x: auto;
    font-size: 0.875em;
    line-height: 1.7142857;
    padding: 0.8571429em 1.1428571em;

    code {
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-weight: 400;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;

        .token.comment {
            --tw-text-opacity: 1;
            color: rgba(156, 163, 175, var(--tw-text-opacity));
        }

        .token.attr-name,
        .token.important,
        .token.keyword,
        .token.operator,
        .token.pseudo-class,
        .token.rule {
            --tw-text-opacity: 1;
            color: rgba(34, 211, 238, var(--tw-text-opacity));
        }

        .token.module,
        .token.property,
        .token.punctuation {
            --tw-text-opacity: 1;
            color: rgba(186, 230, 253, var(--tw-text-opacity));
        }

        .token.class-name,
        .token.function,
        .token.selector,
        .token.selector .class,
        .token.tag {
            --tw-text-opacity: 1;
            color: rgba(232, 121, 249, var(--tw-text-opacity));
        }

        .token.inserted:not(.prefix) {
            background-color: rgba(4, 120, 87, var(--tw-bg-opacity));
            --tw-bg-opacity: 0.5;
            display: block;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .token.inserted.prefix {
            color: rgba(167, 243, 208, var(--tw-text-opacity));
            --tw-text-opacity: 0.75;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .token.deleted:not(.prefix) {
            display: block;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            position: relative;
        }

        .token.deleted.prefix {
            --tw-text-opacity: 1;
            color: rgba(156, 163, 175, var(--tw-text-opacity));
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .token.deleted:not(.prefix):after {
            content: "";
            --tw-bg-opacity: 1;
            background-color: rgba(251, 113, 133, var(--tw-bg-opacity));
            --tw-bg-opacity: 0.25;
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .token.attr-name,
        .token.important,
        .token.keyword,
        .token.operator,
        .token.pseudo-class,
        .token.rule {
            --tw-text-opacity: 1;
            color: rgba(34, 211, 238, var(--tw-text-opacity));
        }

        .token.attr-value,
        .token.class,
        .token.color,
        .token.number,
        .token.string,
        .token.unit {
            --tw-text-opacity: 1;
            color: rgba(190, 242, 100, var(--tw-text-opacity));
        }

        .code-highlight {
            border-radius: 0.1875rem;
            padding: 0.0625rem 0.1875rem;
            margin: 0 -0.1875rem;
        }

        .bg-code-highlight {
            background-color: rgba(134, 239, 172, 0.25);
        }
    }
}
