---
layout: default
title: Home
---

<div id="top" class="page" role="document">
  <header class="site-header">
    <a
      href="/"
      target="_self"
      class="logo"
      aria-label="Back to Mindthecode.com homepage"
      ><img src="/mtc_logo@2x.png" alt="" class="floating"
    /></a>
    <nav class="nav-primary" role="navigation">
      <ul>
        <li class="{% if page.url == '/' %} active {% endif %}">
          <a href="/">Home</a>
        </li>
        <li class="{% if page.url contains '/blog' %} active {% endif %}">
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="https://github.com/hyra" target="_blank">Github</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    {% for post in site.posts %}
    <article>
      <header class="heading">
        <h1 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="timestamp">{{ post.date | date: "%b %e %Y" }}</p>
      </header>
    </article>
    {% endfor %}
  </main>
  <footer class="site-footer" role="contentinfo">
    <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Archives</a>
        </li>
        <li>
          <a href="https://github.com/hyra" target="_blank" rel="noreferrer"
            >Github</a
          >
        </li>
        <li>
          <a href="http://twitter.com/hyra" target="_blank" rel="noreferrer"
            >Twitter</a
          >
        </li>
        <li>
          <a href="{{ site.url }}/feed.xml" target="_blank" rel="noreferrer"
            >RSS</a
          >
        </li>
      </ul>
      <p class="copyright">
        © 2010-2020 Stef van den Ham (Hyra)
      </p>
    </div>
  </footer>
</div>
