@import "mtc_prism";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300');

$breakpoints: (
  'small':  ( 767px ),
  'medium': ( 992px ),
  'large':  ( 1200px )
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

html {
    -webkit-font-smoothing: antialiased;
}
body {
    font: 16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
    margin: 0;
    background: transparent url(/images/bg-pixels.png) repeat;
    // background: transparent url(http://www.fellipe.com/assets/themes/fellipecom/img/debut_light.png) repeat;
}       
main, footer, body > header {
    // max-width: 64ch;
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
}
a.logo {
    background-image: none;
}
main {
    box-sizing: border-box;
    padding: 1ch 0 2ch;
    min-height: calc(100vh - 12ch);
}
h1 {
    font-size: 1em;
    font-weight: 700;
}
h1, .timestamp {
    margin: 0;
}
a {
    // color: indianred;
    color: inherit;
    background-image: linear-gradient(to bottom, indianred 75%, indianred 75%);
    text-shadow: -1px -1px 0 white,1px -1px 0 white,-1px 1px 0 white,1px 1px 0 white;
    background-repeat: repeat-x;
    background-size: 1px 2px;
    background-position: 0 98%;
    padding-bottom: 2px;
    text-decoration: none;
}
.heading a {
    color: black;
    background-image: linear-gradient(to bottom,black 75%,black 75%);
}
.heading {
    margin: 0 0 2ch;
    padding: 0;
}
article.txt p {
    white-space: pre-wrap;
}
hr {
    border: 1px solid #ECECEC;
}
p {
    margin: 1.5em 0;
    text-shadow: 1px 1px 0px #FFF;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.2em;
}
article h2, article h3 {
    // text-transform: uppercase;
}
pre {
    padding: 1ch;
    overflow-x: auto;
}
ul, ol {
    padding-left: 0;
}
li > ul, li > ol {
    padding-left: 2ch;
}
blockquote {
    font-style: italic;
    margin: 1.5em 2ch;
    border-left: 6px solid #AAA;
    margin-left: 0;
    padding-left: 20px;
}
img {
    max-width:100%;
}
header nav {
    float: right;
    margin-top: -15px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

@media (max-width: 767px) {
    body {
        padding: 1ch;
    }
    header nav {
        float: none;
    }
}

article ul {
    margin-left: 30px;
}
article code {
    // background: rgba(255, 255, 0, 0.15);
    // padding: 2px 3px;
    color: indianred;
}
article.index a {
    color: black;
    background-image: linear-gradient(to bottom,black 75%,black 75%);
}
article.index {
    margin: 0 0 20px 0;
}

article.post h1 a, article.post h5 a {
    color: white;
    text-shadow: none;
}
article.post h1 {
    color: white;
    margin: 0 0 0;
    letter-spacing: -.02em;
    font: 50px/85px 'quatro-extra-light', sans-serif;
    // font-weight: bold;
    margin-left: 15px;
    @include respond-to('small') {
        font: 40px/61px 'quatro-extra-light', sans-serif
        // font-weight: bold;
    }
}
article.post h1 span {
    background-color: #32323c;
    padding: 0.5rem 0;
    -webkit-box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
    box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
}
article.post h5 {
    color: #fff;
    margin: 0 0 20px;
    font: 23px/42px 'quatro-extra-light',sans-serif;

    letter-spacing: .05em;
    margin-left: 15px;
    font-weight: bold;
    @include respond-to('small') {
        font: 18px/37px 'quatro-extra-light',sans-serif;
    }
}
article.post h5 span {
    background-color: #32323c;
    padding: 0.5rem 0;
    -webkit-box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
    box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
}

article h2, article h3 {
    background: #32323c;
    display: inline;
    color: white;
    padding: 5px 10px;
    position: relative;
    top: 15px;
}

.index {
    h1 {
        color: #fff;
        margin: 0 0 0;
        letter-spacing: -.02em;
        font: 24px/44px 'quatro-extra-light', sans-serif;
        font-weight: bold;
        margin-left: 15px;
        @include respond-to('small') {
            font: 24px/44px 'quatro-extra-light',sans-serif;
        }
        a {
            background-image: none;
            color: #fff;
            text-shadow: none;
        }
        span {
            background-color: #32323c;
            padding: 0.5rem 0;
            -webkit-box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
            box-shadow: 1rem 0px 0px #32323c, -1rem 0px 0px #32323c;
        }
    }
    p {
        margin: 0;
    }
}

article ul.tags {
    list-style: none;
    margin-left: 0;
}
article ul.tags li {
    display: inline-block;
    margin-right: 10px;
}
.prevnext {
    padding: 20px 0;
    height: 70px;
}
.prevnext-prev {
    float: left;
    background: none;
}
.prevnext-next {
    float: right;
    background: none;
}

header nav a {
    color: black;
    font-weight: bold;
    background: none;
    font: 14px/1.1em 'quatro-semi-bold',sans-serif;
}
header nav a::after {
    content: "·";
    padding-left: 10px;
}

header nav li:last-child a::after {
    content: "";
}

footer {
    min-width: 100%;
    background: #2b303e; //#3c3c52;
    color: white;
    text-align: center;
    font-size: 12px;
}
footer p {
    margin: 0;
    text-shadow: none;
}
footer img {
    height: 25px;
}
footer a {
    background: none;
    color: white;
    text-shadow: none;
}
.twitter-share-button {
    float: right;
    margin-top: -38px;
}

.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, -5px);
    }
    to {
        -webkit-transform: translate(0, 0px);
    }
}

#carbonads {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 200px;
    // margin: 0 auto;

    font-size: 10px;
    line-height: 20px;
    padding: 10px 10px;
    border-radius: 3px;
    border: 1px dashed #DDD;
    background: rgba(255,255,255,1);
    text-align: center;
    @include respond-to('small') {
        display: none;
    }
}

#carbonads img {
    display: block;
    margin: 0 auto 10px auto;
}

#carbonads a {
    background: none;
    color: #333;
}


.teaser {
  margin: 10px 0;
  height: 300px;
  width: 100%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  /*border-radius: 3px 3px 0 0;*/ }

@font-face {
    font-family: 'quatro-extra-light';
    src: url("/fonts/Quatro_ExtraLight_v3Web.eot");
    src: url("/fonts/Quatro_ExtraLight_v3Web.woff") format("woff"), url("/fonts/Quatro_ExtraLight_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-extra-light-italic';
    src: url("/fonts/Quatro_ExtraLightItalic_v3Web.eot");
    src: url("/fonts/Quatro_ExtraLightItalic_v3Web.woff") format("woff"), url("/fonts/Quatro_ExtraLightItalic_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-light';
    src: url("/fonts/Quatro_Light_v3Web.eot");
    src: url("/fonts/Quatro_Light_v3Web.woff") format("woff"), url("/fonts/Quatro_Light_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-light-italic';
    src: url("/fonts/Quatro_LightItalic_v3Web.eot");
    src: url("/fonts/Quatro_LightItalic_v3Web.woff") format("woff"), url("/fonts/Quatro_LightItalic_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-black';
    src: url("/fonts/Quatro_Black_v3Web.eot");
    src: url("/fonts/Quatro_Black_v3Web.woff") format("woff"), url("/fonts/Quatro_Black_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-bold';
    src: url("/fonts/Quatro_Bold_v3Web.eot");
    src: url("/fonts/Quatro_Bold_v3Web.woff") format("woff"), url("/fonts/Quatro_Bold_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-medium';
    src: url("/fonts/Quatro_Medium_v3Web.eot");
    src: url("/fonts/Quatro_Medium_v3Web.woff") format("woff"), url("/fonts/Quatro_Medium_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-semi-bold';
    src: url("/fonts/Quatro_SemiBold_v3Web.eot");
    src: url("/fonts/Quatro_SemiBold_v3Web.woff") format("woff"), url("/fonts/Quatro_SemiBold_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-ultra';
    src: url("/fonts/Quatro_Ultra_v3Web.eot");
    src: url("/fonts/Quatro_Ultra_v3Web.woff") format("woff"), url("/fonts/Quatro_Ultra_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quatro-book';
    src: url("/fonts/Quatro_Book_v3Web.eot");
    src: url("/fonts/Quatro_Book_v3Web.woff") format("woff"), url("/fonts/Quatro_Book_v3Web.eot") format("otf");
    font-weight: normal;
    font-style: normal;
}

.sbg-button{
  display:inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 0;
  border-radius:100em;
  background-color:black;
  text-decoration: none;
  color:white;
  cursor: pointer;
  background-image: none;
  margin-right: 7px;
}
.sbg-button:hover{color:white; }

.sbg-button-icon{font-size:16px;padding:.5em;}

.sbg-button-facebook{background-color:#3b5998;}
.sbg-button-facebook .sbg-button-icon{padding-left:.44em;}
.sbg-button-twitter{background-color:#00aced;}
.sbg-button-twitter .sbg-button-icon{padding-left:.48em;}
.sbg-button-linkedin{background-color:#007bb6;}
.sbg-button-google-plus{background-color:#dd4b39;}
.sbg-button-pinterest{background-color:#cb2027;}
.sbg-button-pinterest .sbg-button-icon{padding-left:.45em;padding-top: .48em;}
.sbg-button-email{background-color:#999999;}
.sbg-button-email .sbg-button-icon{padding-left: .434em;padding-top: .44em;}

.shares {
    text-align: center;
    padding: 20px 0;
    a {
        text-shadow: none;
    }
}

#newsletter_box {
    background: white;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: flex;
    .visual {
        background-image: url(/images/newsletter.gif);
        width: 320px;
        background-size: cover;
        @include respond-to('small') {
            display: none;
        }
    }
    .form {
        flex: 1;
        padding: 20px 0 0px 20px;

        #mce-EMAIL {
          width: 90%;
          height: 30px;
          border-radius: 3px;
          border: 1px solid #DDD;
          margin: 10px 0;
          padding: 0 10px;
        }
        #mc-embedded-subscribe {
          background: indianred;
          border: 0;
          border-radius: 3px;
          color: white;
          font-size: 13px;
          font-weight: bold;
        }
        #mc_embed_signup{
            background:#fff; clear:left; font:16px/1.5em 'Roboto Mono', 'Consolas', 'Andale Mono', 'Monaco', 'Courier New', Courier, monospace;
            h2 {
                padding: 5px 10px;
                top: -25px;
                font-size: 1.2em;
            }
            #intro {
                padding: 0 0 28px 0;
            }
        }
    }
}