extends layout
block main
  header(class='intro')
    h1!= title
    p!= contents

  script.
    $(document).ready(function() {
      $('.teaser').css('background-image', 'url(/images/headers/about.gif)');
    });
