extends layout
block main
  article#article
    h1= title
    div!= contents
  script.
    $(document).ready(function() {
      $('.teaser').css('background-image', 'url(/images/headers/about.gif)');
    });
