doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="cleartype", content="on")
    meta(charset="utf-8")
    meta(name="author", content="Stef van den Ham @stefvdham")
    meta(property="fb:admins" content="1322812414")
    meta(property="og:type", content="article")
    meta(property="og:image", content="http://mindthecode.com/images/og_image.png")
    meta(property="og:site_name", content="Mindthecode")
    meta(property="fb:app_id", content="116332715192025")
    meta(name="twitter:creator", content="@stefvdham")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:image:", content="http://mindthecode.com/images/og_image.png")
    link(href="/favicon.ico", rel="icon", type="image/png")
    link(href="http://mindthecode.com/sitemap.xml", type="application/atom+xml", rel="alternate", title="Mindthecode")
    link(rel="author", href="https://plus.google.com/102230925443628784177?rel=author")
    <!--[if lt IE 9]>
    script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    link(href="/css/main.css", rel="stylesheet")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40203772-4', 'auto');
      ga('send', 'pageview');
    block head
      link(rel="canonical", href="http://mindthecode.com/")
      meta(name="twitter:title", content="Mindthecode")
      meta(name="twitter:description", content="Rambling about all things web.")
      meta(property="og:title", content="Mindthecode")
      meta(property="og:description", content="Rambling about all things web.")
      meta(property="og:url", content="http://mindthecode.com/")
      meta(name="description", content="Rambling about all things web.")
    block title
      title= title ? title + " | " + site.title : site.title
    block styles
  body
    block body
      header(id='sidebar', role="banner")
        a(href='/')
          img(src='/images/badge.png', class='floating')
        br
        div(class="shadow")
        a(href='/')
          img(src='/images/logo.png', width='120')
        br
        br
        br

        section(id="social")
          ul
            li
              a(href="https://github.com/Hyra", target='_blank')
                img(src='/images/sociocons/github.png')
            li
              a(href="https://www.linkedin.com/in/stef-van-den-ham-21265214", target='_blank')
                img(src='/images/sociocons/linkedin.png')
            li
              a(href="https://twitter.com/stefvdham", target='_blank')
                img(src='/images/sociocons/twitter.png')
            li
              a(href="https://plus.google.com/102230925443628784177", target='_blank')
                img(src='/images/sociocons/g+.png')
            li
              a(href="http://mindthecode.com/rss.xml", target='_blank')
                img(src='/images/sociocons/rss.png')

        br
        br

        section(id='subs')
          ul
            li
              a(href="/") Writings
              a(href="/about") About me

        br
        br
        .ctm

          form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
            input(type="hidden", name="cmd", value="_s-xclick")
            input(type="hidden", name="hosted_button_id", value="JSHH5BQWCE79C")
            input(type="image", src="//mindthecode.com/images/donate.png", width="145", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
            img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")
          br
          br
          script(async, type="text/javascript", src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mindthecode", id="_carbonads_js")

      section(role='main', id='river')
        block main
    script(src="/js/all.min.js")
