include _partial/post
extends _partial/main

block main
  -page.posts.each(function(post){
    +post_snippet(post)
  -})

block head
  title
    = config.title
  meta(property="og:title", content="Mindthecode.com")
  meta(property="og:url", content=config.url)
  meta(property="og:description", content="Writing about all things web.")
  meta(name="twitter:title", content="Mindthecode.com")
  meta(name="twitter:description", content="Writing about all things web.")
  meta(name="description", content="Writing about all things web.")
