include _partial/post
extends _partial/main

block main
  h1
    = 'Posts tagged ' + '"' + page.tag + '"'
  br
  -page.posts.each(function(post){
    +post_snippet(post)
  -})

block head
  title
    = page.tag + ' - ' + config.title
