{{ define "main" }}

{{ range (where .Site.Pages "Section" "posts").GroupByDate "2006" }}
	
	<section class="archive">
		<h2>{{ .Key }}</h2>
		
		<ul>
		    {{ range .Pages }}
			<li>
                <strong><time>{{ .Date.Format "Jan 2" }}</time></strong>
				
				<a href="{{ .Permalink }}" class="permalink">{{ .Title }}</a>
				
				{{ if isset .Params "categories_" }}
				<br><span class="post-tags">
					<span class="prefix">categories:</span> {{ range .Params.categories }}
						<a href="/categories/{{ . | urlize }}">{{ . }}</a> ·
					{{ end }}
				</span>
				{{ end }}
				{{ if isset .Params "tags_" }}
                <br>
                <span class="post-tags">
                    <span class="prefix">tags:</span>
                    {{ range .Params.tags }}
						<a href="/tags/{{ . | urlize }}">{{ . }}</a> ·
					{{ end }}
					</span>
				{{ end }}
			</li>
		    {{ end }}
		</ul>
	</section>
    {{ end }}
    
{{ end }}

