<!DOCTYPE html>
<html lang="en-US">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    
<section class="container">
  <main>
      {{- block "main" . }}{{- end }}
  </main>

    <aside>
      <div class="about-me">
        <img
          src="/profile.jpg"
          width="50"
          height="50"
          alt=""
        />
        <h2>About me</h2>
      </div>
      <p>
        My name is <strong>Stef van den Ham</strong>. I write
        <strong>SASS</strong>, <strong>HTML5</strong>,
        <strong>Javascript</strong>, <strong>PHP</strong>,
        <strong>NodeJS</strong> and <strong>Bash</strong> for fun and profit.
      </p>

      <p>
        I work as CTO at <strong>NoProtocol</strong> in Amsterdam. When not
        fondling with NodeJS or websockets I like to twiddle with Arduino’s
        and making useful and useless things with hardware.
      </p>

      {{- partial "newsletter.html" . -}}
      
      {{ range first 3 (shuffle (where (where .Site.RegularPages "Section" "posts") "Title" "!=" .Title )) }}
      {{ $category := "Uncategorized" }}
      {{ if .Params.Categories }}
      {{$category = index (.Params.Categories) 0}}
      {{ end }}
      <div class="item">
        <div class="category">
            <span>{{ $category }}</span>
        </div>
        <div class="title">
          <h3>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h3>
        </div>
        <div class="description">
          <p>
            <a href="{{ .RelPermalink }}">{{ .Description }}</a>
          </p>
        </div>
      </div>
      {{ end }}

    </aside>
    
  </section>

  {{- partial "footer.html" . -}}

  </body>
</html>
