<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> -->
  <meta name="author" content="Stef van den Ham @stefvdham">

  <meta property="og:type" content="article">
  <meta property="og:image" content="http://mindthecode.com/images/og_image.png">
  <meta property="og:site_name" content="Mindthecode">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:url" content="http://mindthecode.com{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">

  <meta name="twitter:creator" content="@stefvdham">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image:" content="http://mindthecode.com/images/og_image.png">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">

  <meta name="keywords" content="{{ page.tags }}">
  <meta name="description" content="{{ page.description }}">

  <link rel="author" href="https://plus.google.com/102230925443628784177?rel=author">

  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script async="" src="//www.google-analytics.com/analytics.js"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
  <!-- <script src="/js/jquery.readingTime.js"></script> -->

  <link rel="canonical" href="http://mindthecode.com{{ page.url }}">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed Mindthecode" href="http://mindthecode.com/rss.xml" />

  <style media="screen">
    {% include style.css %}
  </style>

  <!-- <link href="/prism.css" rel="stylesheet" /> -->

</head>
<body>

  <div class="inner">

    <header>
      <p>
        <a href="/" class="noundy">
          <img id="logo" src="/logo.png" class="animated rubberBand floating_" alt="Mindthecode" />
        </a>
      </p>
      <nav>
        <ul>
          <li>
            <a href="/">Writings</a> /
          </li>
          <li>
            <a href="/about/">About me</a>
          </li>
        </ul>
      </nav>
    </header>

  </div>

  <div class="inner">

    {% include aside.html %}
    
    <main id='content'>
      <article class="md" itemscope itemtype="http://schema.org/BlogPosting">
        <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}"></time>
        <header class="heading">
          <h1 itemprop="headline">{{ page.title }}</h1>
          <p class="timestamp">{{ page.date | date: "%b %e %Y" }}</p>
          <hr>
        </header>

        {% if page.teaser %}
        <br />
        <div class="teaser" style='background: transparent url(/images/headers/{{ page.teaser }}) no-repeat center center;'></div>
        {% endif %}

        <div itemprop="articleBody">
          {{ content }}
        </div>

        Written by
        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">
            <a href="https://plus.google.com/102230925443628784177" itemprop="url" rel="author">Stef van den Ham</a>
          </span>
        </span>
        on
        <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %e %Y" }}</time>

      </article>

      <br />

      Tags:
      {% for tag in page.tags %}
        <a href="/tags#{{ tag }}">{{ tag }}</a>
      {% endfor %}

      <br /><br />

      <a class="twitter-follow-button"
          href="https://twitter.com/stefvdham"
          data-size="large"
          data-show-count="false">
        Follow @stefvdham</a>
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ page.title | replace: " ", "%20" }}" data-size="large">Tweet</a>

      <hr>

      <div class="prevnext">
        {% if page.previous.url %}
          <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>

      <hr>

      {% include comments.html %}

    </main>
  </div>

  <footer>
    <a href="/" class="noundy"><img src="/images/mtc_inv.png" id="logo-footer" alt="Mindthecode" /></a>
    <br />
    &copy; Copyright 2011-2016
    <br />
    Follow me on <a target="_blank" href="https://twitter.com/stefvdham">Twitter</a>, <a target="_blank" href="https://www.facebook.com/mindthecode/">Facebook</a> or <a target="_blank" href="https://plus.google.com/+Mindthecode">Google+</a>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

    ga("create", "UA-40203772-4", "auto");
    ga("send", "pageview");

    if (typeof console === "undefined" || typeof console.log === "undefined") {
      console = {};
      console.log = function () { };
    }
    console.log("%cMade with ❤ and %c🍺", "color: #333; font-size: 12px; font-weight: bold;", "font-weight: normal");
    console.log("%cYou can follow me on https://twitter.com/stefvdham", "color: #333; font-size: 11px;");

    var links = document.links;

    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
       if (links[i].hostname != window.location.hostname) {
           links[i].target = "_blank";
       }
    }
  </script>
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>

  <!-- <script>
    var cb = function() {
      var l = document.createElement('link'); l.rel = 'stylesheet';
      l.href = '/style.css';
      var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
  </script> -->

  <script src="/assets/prism.js"></script>

  <script>
    var currentAnim = 'rubberBand';
    var anims = ['bounce', 'pulse', 'floating', 'rubberBand', 'shake', 'headShake', 'swing', 'tada', 'wobble', 'jello', 'hinge'];
    var newAnim = anims[Math.floor(Math.random()*anims.length)];
    setInterval(function() {
      document.querySelector('#logo').classList.remove(currentAnim);
      setTimeout(function() {
        document.querySelector('#logo').classList.add(newAnim);
      }, 1000);
      newAnim = anims[Math.floor(Math.random()*anims.length)];
      currentAnim = newAnim;
    }, 6000);
  </script>

  <script src="//my.hellobar.com/e0d6ea7e93c0172c0a6adecbb11fcb0fa108ac3b.js" type="text/javascript" charset="utf-8" async="async"></script>

</body>
</html>
