html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}



html {
    font-size: 100%
}
body {
    margin: 0 0 3em;
    color: #414141;
    font-family: 'Ubuntu', 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 19px;
    // line-height: 30px;
    -moz-font-feature-settings: "liga=1";
    -ms-font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    font-weight: 100;
}
li,
p,
blockquote,
blockquote p {
    line-height: 1.667em
}
p {
    margin-bottom: 1em;
    &:first-child {
    	font-weight: 500;
    	letter-spacing: -0.03em;
    	font-size: 1.1em;
    }
}
h1 {
    color: #333;
    font-weight: 700;
    font-size: 2.1em;
    margin: 0 0 0.5em;
    line-height: 1.2em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    // text-align: center;
}
h2 {
    color: #f33e47;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0.75em 0 0em
}
h3 {
    color: #333;
    font-size: .875em;
    font-weight: 700;
    // letter-spacing: 0.1em;
    margin: 1em 0 .5em;
    text-transform: uppercase;
}
h3 small {
    display: block;
    margin-left: 0;
    text-transform: uppercase;
}
small {
    font-size: .875em;
    margin-left: .5em
}
ul,
ol {
    margin: .5em 1.5em 1.5em;
    list-style: square
}
ul li,
ol li {
    margin: .3em 0
}
ol {
    list-style: decimal
}
img {
    max-width: 100%
}
em {
    font-style: italic
}
strong {
    font-weight: 700
}


code {
	background: #ebebff;
	border: 1px solid #e6e6e6;
	padding: 0 0.23em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	font-size: .7em;
	line-height: 1.5em;
	font-family: Monaco,Consolas,monospace;
}
.hljs {
	border-radius: 3px;
}


a {
    color: #f43e47;
    text-decoration: none
}
a:hover {
    color: #333;
}
small {
    color: #666677;
    text-transform: none
}
blockquote {
    border-left: 3px solid #efefef;
    padding: .5em 0 .5em 1em;
    margin: 1em 0
}
blockquote p {
    font-size: 1.25em;
    font-style: italic
}
.container {
    max-width: 86%;
    margin: 0 auto;
    padding: 0 1em
}
.content {
    margin: 50px 0 0
}
.article-body>p:first-child,
p.intro {
    font-size: 1.25em;
    margin-bottom: 1.25em;
    color: #3b343f
}
header {
    box-shadow: 0px -1px 0px #efefef inset;
    font-size: 19px
}
header a {
    display: block;
    padding: .8em .6em;
    font-style: italic
}
header .brand {
    padding-left: 0;
    color: #ff2a00;
    font-weight: 700;
    font-style: italic
}
header .container {
    padding: 0
}
nav {
	position: relative;
}
nav a {
    font-weight: 400;
    color: #c6c7d4
}
nav a:hover {
    color: #615966
}
nav a.active {
    color: #615966;
    box-shadow: 0px -1px 0px #ff2a00 inset
}

.subtitle {
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
}

.seperator {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
	margin: 20px 0 30px;
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
	.published {
	  background: #fff;
	  width: 100px;
	  margin: auto;
	  display: block;
	  margin-bottom: -25px;
	}
}


.ui-list {
    list-style: none;
    margin: 0;
    padding: 0
}
.ui-list small {
    position: relative;
    bottom: -15px;
    margin-left: 0px;
}
.ui-list li {
    margin: 0;
    padding: .3em 0;
    border-bottom: dotted 1px #e7e7e7
}
.ui-list h3 {
    margin: .5em 0
}
.ui-list li:last-child {
    border: none
}

.ui-horizontal-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &.right {
	  float: right;
	  top: 0;
	  position: absolute;
	  right: 0;
	  a {
	  	font-size: 0.8em;
	  	color: #333;
	  	padding: 17px 20px 0px 0px;
	  }
    }
}
.ui-horizontal-list li {
    display: inline-block;
    margin: 0 1em 0 0
}
.ui-horizontal-list li:last-child {
    margin: 0
}


.carbon {
	width: 155px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	span {
	  padding: 0;
	  font-size: 12px;
	  text-align: center;
	  a {
	    color: #333;
	  }
	}
}

.meta-data {
    margin: 1em 0 1em;
    border-top: 1px solid #efefef;
    line-height: 3em
}
.meta-data>div,
.meta-data>time {
    font-size: .875em
}
.meta-data time {
    color: #746e77
}
.tags {
    color: #746e77
}
.tags ul,
.tags li {
    display: inline-block;
    margin: 0;
    padding: 0
}
.tags li {
    margin: 0 0.5em
}
.tags li:after {
    content: "/";
    margin-left: 0.6em;
    color: rgba(116, 110, 119, 0.3)
}
.tags li:last-child:after {
    display: none
}


footer {
    text-align: center;
    padding: 35px 0 10px 0;
    font-size: 11px;
}



.brand-desktop {
	display: block;
}
.brand-mobile {
	display: none;
}


@media (max-width: 470px) {
	.carbon {
		display: none;
	}
    .brand-desktop {
        display: none;
    }
    .brand-mobile {
        display: block;
    }
    .twitter-follow {
        display: none !important;
    }
}

@media (min-width: 470px) {
    nav .ui-horizontal-list li {
        margin-right: 1em
    }
    .container {
        padding: 0
    }
    .containers-row>div {
        display: block;
        float: left;
        width: 50%;
        margin-bottom: 2em;
        padding-bottom: 0;
        border-bottom: none
    }
    .containers-row>div:nth-child(2n+1) {
        clear: left
    }
    .containers-row .desc {
        padding: 0 1em
    }
    h3 small {
        display: inline;
        margin-left: .5em
    }
    .tags {
        float: right
    }
    .brand-desktop {
    	display: block;
    }
    .brand-mobile {
    	display: none;
    }
}
@media (min-width: 979px) {
    blockquote {
        padding: .5em 2em
    }
    .container {
        max-width: 36em
    }
    .solutions>.col {
        width: 45%;
        margin-right: 10%;
        float: left
    }
    .solutions>.col h3 {
        font-size: 22px;
        text-transform: none
    }
    .solutions>.col.last {
        margin-right: 0
    }
    .brand-desktop {
    	display: block;
    }
    .brand-mobile {
    	display: none;
    }
}
@media (min-width: 1200px) {
    .content figure {
        margin-left: -12em;
        width: 60em
    }
    .brand-desktop {
    	display: block;
    }
    .brand-mobile {
    	display: none;
    }
}




