$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@import "normalize";
@import "mixins";
@import "hybrid";

@font-face {
    font-family: 'skolar_peregular';
    src: url('../fonts/skolarpe_regular-webfont.eot');
    src: url('../fonts/skolarpe_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skolarpe_regular-webfont.woff2') format('woff2'),
         url('../fonts/skolarpe_regular-webfont.woff') format('woff'),
         url('../fonts/skolarpe_regular-webfont.ttf') format('truetype'),
         url('../fonts/skolarpe_regular-webfont.svg#skolar_peregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skolar_pesemibold';
    src: url('../fonts/skolarpe_semibold-webfont.eot');
    src: url('../fonts/skolarpe_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/skolarpe_semibold-webfont.woff2') format('woff2'),
         url('../fonts/skolarpe_semibold-webfont.woff') format('woff'),
         url('../fonts/skolarpe_semibold-webfont.ttf') format('truetype'),
         url('../fonts/skolarpe_semibold-webfont.svg#skolar_pesemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaprobold';
    src: url('../fonts/tisapro-bold-webfont.eot');
    src: url('../fonts/tisapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-bold-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-bold-webfont.woff') format('woff'),
         url('../fonts/tisapro-bold-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-bold-webfont.svg#tisaprobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tisapromedium';
    src: url('../fonts/tisapro-medi-webfont.eot');
    src: url('../fonts/tisapro-medi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-medi-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-medi-webfont.woff') format('woff'),
         url('../fonts/tisapro-medi-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-medi-webfont.svg#tisapromedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tisaproregular';
    src: url('../fonts/tisapro-regular-webfont.eot');
    src: url('../fonts/tisapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tisapro-regular-webfont.woff2') format('woff2'),
         url('../fonts/tisapro-regular-webfont.woff') format('woff'),
         url('../fonts/tisapro-regular-webfont.ttf') format('truetype'),
         url('../fonts/tisapro-regular-webfont.svg#tisaproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'skolar_peregular', 'Georgia', 'Times New Roman', serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: "liga";
  line-height: 1;
  strong {
    font-family: 'skolar_pesemibold';
  }
}

h1, h2, h3, h4 {
  font-family: 'tisaprobold';
}

header#sidebar {
  top: 0;
  width: 20%;
  position: fixed;
  margin-left: -5px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  bottom: 0;
  padding-top: 100px;
  font-size: 12px;

  #social > ul > li {
    display: inline-block;
    padding: 0 2px;
  }

  #social > ul > li img {
    width: 25px;
  }

  #subs a {
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding: 10px 0;
    color: #473D4D;
  }

  &::after {
    width: 1px;
    top: 5%;
    bottom: 5%;
    content: "";
    position: absolute;
    right: 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(227, 224, 216, 0)), color-stop(20%, #E3E0D8), color-stop(80%, #E3E0D8), color-stop(100%, rgba(227, 224, 216, 0)));
    background: -webkit-linear-gradient(top, rgba(227, 224, 216, 0) 0%,#E3E0D8 20%,#E3E0D8 80%,rgba(227, 224, 216, 0) 100%);
    background: -moz-linear-gradient(top, rgba(227, 224, 216, 0) 0%,#E3E0D8 20%,#E3E0D8 80%,rgba(227, 224, 216, 0) 100%);
    background: -o-linear-gradient(top, rgba(227, 224, 216, 0) 0%,#E3E0D8 20%,#E3E0D8 80%,rgba(227, 224, 216, 0) 100%);
    background: linear-gradient(top, rgba(227, 224, 216, 0) 0%,#E3E0D8 20%,#E3E0D8 80%,rgba(227, 224, 216, 0) 100%);
  }

  .ctm {
    @include respond-to(small) {
      display: none;
    }
  }

  @include respond-to(small) {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 30px 0 0 0;
  }

}

section#river {
  position: relative;
  margin-left: 26%;
  border-left: 0px solid #e3e3e3;
  min-height: 900px;
  z-index: 10;
  background-color: #fff;

  #begin {
    padding: 40px 0 40px 50px;
    display: block;
    max-width: 657px;

    time {
      display: block;
      /* font-family: "freight-sans-pro",sans-serif; */
      position: relative;
      text-transform: uppercase;
      color: #473D4D;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 23px;
      font-weight: bold;
    }

    @include respond-to(small) {
      padding: 0px 0 20px 20px;
    }

  }

  h1 {
    font-size: 2.8em;
  }

  .intro {
    max-width: 657px;
    margin-left: 50px;
    margin-top: 50px;
    line-height: 25px;
    h1 {
      font-size: 2.3em;
    }
    p {
      font-size: 24px;
      line-height: 36px;
    }
    @include respond-to(small) {
      margin: 0;
      padding: 0 20px;
    }
  }

  article.blog-entry {
    border-bottom: 1px solid #e3e3e3;
    padding: 20px 0 10px 0px;
    margin-left: 50px;
    max-width: 657px;
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 27px;
    }
    h2 a {
      border-bottom: 0;
      &:hover {
        color: #f43e47;
      }
    }
    small {
      font-size: 18px;
      color: #666;
    }
    @include respond-to(small) {
      margin: 0;
      padding: 0 20px;
    }
  }

  @include respond-to(small) {
    margin-left: 0;
  }

}

.post-meta {
  .author {
    display: block;
    border-bottom: .08em solid rgba(0,0,0,.1);
  }
  .date {
    font-family: 'skolar_pesemibold';
  }
  li {
    display: inline-block;
    padding-right: 20px;
  }
  .tags a {
    margin-right: 10px;
    color: #f43e47;
    border-bottom: none;
    &:hover {
      border-bottom: 1px solid #ccc;
    }
  }
}

#cats {
  float: right;
  text-transform: uppercase;
  // margin-right: 30px;
  position: relative;

  ul li {
    display: inline-block;
    z-index: 10;
    /* font-family: "freight-sans-pro",sans-serif; */
    position: relative;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 0 7px;
    a {
      font-family: 'tisaprobold';
      font-size: 14px;
      letter-spacing: 0;
    }
  }

}

div#teaser {
  // background: transparent url(http://mindthecode.com/images/headers/react_native.gif) center center no-repeat;
  // background: transparent url(http://mindthecode.com/images/headers/modules.gif) center center no-repeat;
  // background: transparent url(http://mindthecode.com/images/headers/good-times.gif) center center no-repeat;
  background: transparent center center no-repeat;
  height: 230px;
  background-size: cover;
  border-radius: 3px;
  margin-left: -20px;
  margin-left: 0px;
}

article {
  display: block;
  max-width: 657px;
  img {
    width: 100%;
  }
  &.post {
    display: block;
    position: relative;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #e2e2e2;
    min-height: 130px;
    overflow-x: hidden;
    overflow: visible;

    padding-left: 50px;
    padding-right: 50px;

    p code {
      background: rgba(255, 255, 0, 0.19);
      padding: 2px 5px;
      font-size: 15px;
    }

    p, li {
      font-size: 17px;
      font-weight: 300;
      line-height: 27px;
    }

    @include respond-to(small) {
      padding: 20px;
    }

  }

  h1 {
    line-height: 40px;
  }

}

.share {
  border-top: 1px solid #e2e2e2;
}

nav.pagination {
  max-width: 657px;
  padding: 20px 20px 70px 50px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 30px;
  line-height: 26px;

  a {
    font-weight: 600;
    font-size: 15px;
    /* text-transform: uppercase; */
    padding: 30px 0;
    border-bottom: 0;
  }

  span.prev {
    display: inline-block;
    float: left;
    &::before {
      content: '« ';
    }
  }

  span.next {
    display: inline-block;
    float: right;
    &::after {
      content: ' »';
    }
  }

}

.hljs {
  background: none;
  padding: 0;
  line-height: 19px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: visible;
  background: #2a3541;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background: #2a3541;
  color: #fff;
  font-size: 14px;
  overflow: auto;
  padding: 20px 30px;

  code {
    white-space: pre-wrap;
    display: block;
  }

}

a {
  color: #473D4D;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-decoration: none;
}

article a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: #473D4D;
}

p a, p a:visited {
  background-color: #E8EFF5;
  padding: 5px;
  color: #473D4D;
  font-family: monospace;
  font-size: 15px;
}

p a:hover {
  background-color: rgb(37, 39, 41);
  color: rgb(188, 214, 253);
}

#carbonads {
  width: 130px;
  font-size: 11px;
  line-height: 16px;
  margin: 0 auto;
}

ul {
  display: block;
  list-style-type: none;
}

ul, ol {
  margin-bottom: 20px;
  padding: 0;
  margin: 0;
}


article, .share, .pagination, .comments {
  padding: 0 50px;
  max-width: 657px;
}



.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, -15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

.shadow {
  background: url('http://s28.postimg.org/6mun3461l/shadow.png');
  width: 137px;
  height: 81px;
  margin: 0 auto;
  -webkit-animation-name: shadowGrowOut;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes shadowGrowOut {
  from { -webkit-transform: scale(0.8); opacity:0.8 ; }
  65% { -webkit-transform: scale(0.6); opacity:0.65 ; }
  to { -webkit-transform: scale(0.8); opacity:0.8; }
}

/* Extra schmuck */
header#sidebar {
  // margin-left: 0;
}

section#river {
  // box-shadow: -10px 0px 30px #EEE;
  // box-shadow: -10px 0px 30px #f3f3f3;
  // border-left: 0px solid #e3e3e3;
}
